<!DOCTYPE html>
<html>
	<head link rel = "stylesheet" type = "text/css" href = "/static/registration/base.css" >  
	<body class = "body">
		<div class='submodule fat'>
  		<div class='submodule-head head'>
    		<h3>West Africa Fishing</h3>
  		</div>
  	
  
	<div class="submodule-body body">
	<p> Click on the link below to proceed.</p>
	
	<ul class="raquo_bullets">
  	<li><a href="file:///Users/arturolopez/Desktop/register.html">Register</a></li>
 	</ul> 
 	
 	<ul class="raquo_bullets">
  	<li><a href="file:///Users/arturolopez/Desktop/licensing.html">Licensing</a></li>
 	</ul> 
 	
 	<ul class="raquo_bullets">
  	<li><a href="file:///Users/arturolopez/Desktop/reporting.html">Reporting</a></li>
 	</ul> 
 	</div>			
 	</body>
 	
<html>