<!DOCTYPE html>
{%extend base.html%}
<html>
<title>Reporting</title>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/static/registration/base.css" />
	<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
	</head>
	
	<body class = "body">
		<div class='submodule fat'>
  		<header class='header'>
    		<p><font size="12">Thank you,<br>
    			your request will soon be reviewed by official authorities.</font></p>
    			
    	<a href = “” > Return to home page</a> <br>
    	
 			
  		</header>
  		

<html>