<!DOCTYPE html>
{% extends "registration/base.html" %}
{% block content %}
<html>
	<head>
		<title>Registration</title>
			
	</head>
	<body class = "body">
		<div class='submodule fat'>
  		<header class='header'>
    		<h3>Registration of Manager: Section A</h3>
  		</header>
  		{% ifequal section "A" %}
  		  
			<form>
				<input type="hidden" value="{{section}}" name="section">
				<p>Name of manager</p>
					<input type="text" name="choice1"/>
				<p>Date of birth</p>
					<input type="date" name="choice2"/>
				<p>Sex of manager</p>
					<input type="radio" name="choice3" />
					<label for="choice1">Male</label><br />
					<input type="radio" name="choice4"/>
					<label for="choice2">Female</label><br />
				<p>Nationality</p>
					<input type="text" name="choice5" />
				<p>Occupation</p>
					<input type="text" name="choice6" />
				<p>Number Phone</p>
					<input type="tel" name="choice7" />
				<p>Manager's address</p>
					<input type="text" name="choice8" />
				<p>Number of canoes</p>
					<input type="number" name="choice9" min="1" max="10" />
		
				<br>
				<input type = "submit">
	
		    </form>
	  {% endif %}
	  {% elif section == "B" %}
	  <div class='submodule fat'>
  		<header class='header'>
    		<h3>Canoe's Characteristics:Section B </h3>
  		</header>
			  <form>
			  			
				<p>Current canoe no</p>
					<input type="text" name="choice10"/>
				<p>Coastal Region</p>
					<input type="text" name="choice11"/>
				<p>Coastal District</p>
					<input type="text" name="choice12"/>
				<p>Fishing Village</p>
					<input type="text" name="choice13"/>
				<p>Landing Beach</p>
					<input type="text" name="choice14"/>
				<p>Current canoe's name</p>
					<input type="text" name="choice15"/>
				<p>Type of ownership</p>
					
					<input type="radio" name="choice16"/>
					<label for = "choice1">Individual</label><br />
					<input type="radio" name="choice17" />
					<label for = "choice2">Family</label><br />
					<input type="radio" name="choice18" />
					<label for = "choice3">Joint Venture</label><br />
					<input type="radio" name="choice19" />
					<label for = "choice4">Other</label><br />
				<p>Names of the conae owner</p>
					<input type="text" name="choice20"/>
				<p>Name of captain/boatswain</p>
					<input type="text" name="choice21"/>
				<p>Year purchased</p>
					<input type="text" name="choice22"/>
				<p>Year built</p>
					<input type="text" name="choice23"/>
				<p>Place built</p>
					<input type="text" name="choice24"/>
				<p>First year of fishing </p>
					<input type="text" name="choice25"/>
				<p>Main construction material</p>
					<input type="text" name="choice25"/>
				<p>Length overall (meters)</p>
					<input type="text" name="choice25"/>
				<p>Type of storage</p>
					<input type="radio" name="choice26"/>
					<label for = "choice1">Ice</label><br />
					<input type="radio" name="choice27" />
					<label for = "choice2">No Ice</label><br />
				<p>Crew Numbers</p>
					<input type="text" name="choice28"/>
				<p>Motorized or not?</p>
					<input type="radio" name="choice29"/>
					<label for = "choice1">Yes</label><br />
					<input type="radio" name="choice30" />
					<label for = "choice2">No</label><br />
				<p>Model of engine</p>
					<input type="text" name="choice31"/>
				<p>Horsepower of engine</p>
					<input type="text" name="choice32"/>
				<p>First gear type </p>
					<input type="text" name="choice33"/>
				<p>Second gear type </p>
					<input type="text" name="choice34"/>
				<p>Third gear type</p>
					<input type="text" name="choice35"/>
				<p>Equipment onboard</p>
					
					<input type="checkbox" name="choice36"/>
					<label for = "choice1">Compass</label><br />
					<input type="checkbox" name="choice37" />
					<label for = "choice2">GPS</label><br />
					<input type="checkbox" name="choice38" />
					<label for = "choice3">Life jacket</label><br />
					<input type="checkbox" name="choice39" />
					<label for = "choice4">Other</label><br />
					<p>Date of registration</p>
						<input type="text" name="choice35"/>
				
					
				<h1>Photos of the canoe</h1>
			        <form id="upload-form" action="<?php echo URL::site('avatar/upload') ?>" method="post" enctype="multipart/form-data">
			            <p>Choose file:</p>
			            <p><input type="file" name="avatar" id="avatar" /></p>
			            <p><input type="submit" name="submit" id="submit" value="Upload" /></p>
			        </form>
					
				
					
					
				
				<br>
				<input type = "submit">
			
			  </form>
	  

<html>
{% endblock %}
