<!DOCTYPE html>
<html>
<title>Licensing</title>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/static/registration/base.css" />
	</head>
	<body class = "body">
		<div class='submodule fat'>
  		<header class='header'>
    		<h3>Licensing of Canoe</h3>
  		</header>

<form class = "license"> 

	<div>
	<label>Licensing name:<input type = "text" name = "name"></label>
	<br>	
	<label>Licensing number:<input type = "text" name = "name"></label>
	</div>
	<br><br>
	<input type = "submit" align = "left" >
	
</form>
<html>